# update this file to /opt/livewire_media/.env on the VPS and replace any value.
# if using docker hub 
# DOCKER_USERNAME=your-dockerhub-user
APP_NAME=livewire_media
APP_PORT=8080

APP_ENV=production
APP_DEBUG=false
APP_KEY=base64:replace-with-a-generated-laravel-key
APP_URL=https://media.jmal.store
LOG_CHANNEL=stderr

# AWS RDS with mysql values
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=livewire_pos
DB_USERNAME=livewire_pos
DB_PASSWORD=replace-with-a-long-password
DB_ROOT_PASSWORD=replace-with-a-different-long-password

CACHE_STORE=database
SESSION_DRIVER=database
QUEUE_CONNECTION=database

## AWS ECR REPO
AWS_REPOSITORY=media/livewire-media
AWS_REGION=us-east-1
AWS_ECR_REGISTRY=213462345060.dkr.ecr.us-east-1.amazonaws.com